*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: #ebebeb;
    /* margin: 90x 0; */
}
.title{
    margin:20px 0;
}
.main{
    border:8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
    /* padding: 30px 20px; */
}
.name{
    display:flex;
    font-size: 32px;
    font-weight: 600;
    padding:8px 16px;
    color:#7e7e7e;
    background-color: #ebebeb;
}       
.main > span{
    /* font-weight: 400; */
    color: #bbb;
}
.name >input{                                   
    font-size:24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow:1;
    width:20px;
    border: none;
    margin:0px 12px;
    background-color: #ebebeb;
    outline: none;
}
.message-container{
    display:flex;
    background-color: #f6f6f6;
    flex-direction:column;
    width:400px;
    
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.message-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.message-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
.message-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.message-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
.message-container::-webkit-scrollbar-track:hover {
    background-color: #e0e0e0;
}

.box{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    /* border-bottom: 0.1px solid #ddd; */
}
.box p{
    font-size: 20px;
    font-weight: 500;
    color: #7e7e7e;
    padding: 8px 16px;
    margin: 0;
    background-color: #f6f6f6;
    /* border-bottom: 1px solid #ddd; */
    cursor:pointer;
    
}
.box span{
    font-size: 14px;
    color: #bbb;
    margin-left: 8px;
}
.box-tag{
    display: flex;
    align-items: center;
    justify-content:left;
    width: 100%;
}
